@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* ContactStyles.css */

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-heading {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-item {
  margin-bottom: 10px;
  display: flex; /* Make items flex containers */
  align-items: center; /* Center items vertically */
}

.contact-item strong {
  font-weight: bold;
  margin-right: 10px;
}

/* Styling for specific links */
.contact-item a {
  text-decoration: none;
  color: #0077b5; /* LinkedIn blue color */
  font-weight: bold;
  transition: color 0.3s; /* Add a smooth color transition effect */
}

/* Styling for the contact number */
.contact-item .contact-number {
  color: #333;
  font-weight: bold;
}

/* Material Icon styling */
.material-icon {
  font-size: 1.5rem; /* Adjust the icon size as needed */
  margin-right: 10px;
}
